body {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 32px;

  width: 100vw;
  height: 100vh;

  padding: 64px 32px 0px 32px;

  overflow: hidden;
}

.header {
  max-width: 768px;
  width: 100%;
}

.main {
  display: flex;
  max-width: 768px;

  gap: 32px;

  width: 100%;

  overflow: hidden;
}

.player {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;

  padding: 10px;
}

.player__cover {
  width: 320px;
  height: 320px;

  position: relative;
}

.player__cover-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.player__cover-img-blurred {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  filter: blur(8px);

  z-index: -1;
}

.player__details {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 4px;
}

.player__title {
  font-size: 1.75rem;
  font-weight: 600;
}

.player__artist {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
}

.lyrics {
  overflow: auto;
  padding-bottom: 128px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lyrics br {
  height: 10px;
}

.lyrics p {
  font-size: 1.25rem;
}
