* {
  margin: 0;
  box-sizing: border-box;

  font-family: "Zalando Sans", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}
